body{
    display: grid;
    font-family: 'Marvel', sans-serif;   
    grid-template-areas: 'navbar navbar navbar navbar' /*definir as colunas*/
                         'header header header header'
                         'section section section aside'
                         'footer footer footer footer';
    grid-template-rows: 10vh 500px 60vh 15vh; /*visualização em relação a linha*/
    grid-template-columns: 23vw 26vw 20vw 30vw; /*visualização em relação a colunas*/
    /*grid-gap: 10vh; para adicionar uma cor, inserir background color no body*/
    margin: 0;
}

body::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
aside{
    grid-area: aside; /*nomeando a minha coluna*/
}

aside img{
    width: 130px;
}

aside p{
    margin: 0;
}
footer{
    grid-area: footer;
}

header{
    grid-area: header;
    background-image: url("images/4430336.jpg");
    background-repeat: no-repeat;
}

nav div img{
    margin-left: 20px;
}
nav{
    align-items: center;
    grid-area: navbar;
    background-color: #D91122;
    display: flex;
    justify-content: space-between;
}

nav div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    width: 50%;

}
a{
    color: white;
    font-size: 20pt;
    text-decoration: none;
}

section{
    grid-area: section;
    background-color: #1F2C73;
    color: white;
}